{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
    <ul>
        {% for student in object_list %}
        <li>
            <strong>{{ student.name }}</strong>> ({{ student.group }})
            {% if student.teachers.all %}
                <br>Преподаватели:
                <ul>
                {% for teacher in student.teachers.all %}
                    <li>{{ teacher.name }}: {{ teacher.subject }}</li>>
                {% endfor %}
                </ul>
            {% else %}
                <br>Нет назначенных преподавателей
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
